<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Nuevo Cliente</title>
</head>
<body>
<h1>Nuevo Cliente</h1>

<form th:action="@{/vista/clientes/guardar}" th:object="${cliente}" method="post">
  <label>DPI:</label>
  <input type="text" th:field="*{DPICliente}"/><br/>

  <label>Nombre:</label>
  <input type="text" th:field="*{nombreCliente}"/><br/>

  <label>Apellido:</label>
  <input type="text" th:field="*{apellidoCliente}"/><br/>

  <label>Dirección:</label>
  <input type="text" th:field="*{direccion}"/><br/>

  <button type="submit">Guardar</button>
</form>
</body>
</html>