<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clientes</title>
</head>
<body>
<h1>Lista de Clientes</h1>

<a th:href="@{/vista/clientes/nuevo}">Nuevo Cliente</a>

<table>
    <thead>
    <tr>
        <th>DPI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dirección</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- th:each es el foreach de Thymeleaf -->
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.DPICliente}"></td>
        <td th:text="${cliente.nombreCliente}"></td>
        <td th:text="${cliente.apellidoCliente}"></td>
        <td th:text="${cliente.direccion}"></td>
        <td>
            <a th:href="@{/vista/clientes/eliminar/{dpi}(dpi=${cliente.DPICliente})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>